body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url(Welcome.png);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.table1 {
    background-color: #fff;
    padding: 30px;
    width: 400px;
    border-radius: 10px;
    border: 2px solid #333; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}
label {
    font-size: 20px;
    margin-bottom: 8px;
    color: #333;
    display: block;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}
.btnn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 10px;
    margin-left: 150px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btnn:hover{
    background: #ff4242;
    color: #ff7200;
}
.btnn a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
.liw{
    padding-top: 15px;
    text-align: center;
    color:  #000000;
}
.lw{
    text-align: center;
    color: #000;
}
.icons a{
    text-decoration: none;
    color: #fff;
}
.icons ion-icon{
    color: #7a7a7a;
    font-size: 30px;
    padding-left: 20px;
    transition: 0.3s ease;
}
.icons ion-icon:hover{
    color: #ff7200;
}
.error{
    color: red;
    font-style: italic;
}
@media (max-width: 480px) {
    .table1 {
        width: 90%;
        padding: 15px;
    }

    h1 {
        font-size: 20px;
    }

    button {
        font-size: 14px;
    }
}
