*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background-image: url(images/121.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
} 
.navbar{
    height: 70px;
    margin: auto;
    background-image: url(images/banner-bg.png);
    padding-left: 35px;
    border-radius: 10px;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: rgb(255, 13, 0);
    font-size: 35px;
    font-family: Arial;
    padding-left: 2px;
    float: left;
    padding-top: 25px;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
    margin-left: 150px;
}
ul{
    float: left;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 739px;
}
ul li{
    list-style: none;
    margin-left: 67px;
    margin-top: 27px;
    font-size: 25px;
}
ul li a{
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: orangered;
}
.search{
    width: 200px;
    float: left;
    margin-left: 378px;
    margin-top: 32px;
}
.srch{
    font-family: Arial;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid orange;
    margin-top: 13px;
    color: white;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn{
    background: red;
    border: 2px solid red;
    color: white;
    font-size: 15px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    color: black;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 75px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 550px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.content .cn:hover{
    background-color: #df8d44;
}

.content span{
    color: #ff7200;
    font-size: 65px
}
.row1{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.row1 .cn{
    width: 160px;
    height: 40px;
    background: #000000;
    border: none;
    margin-bottom: 10px;
    margin-left: 535px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.row1 .cn a{
    text-decoration: none;
    color: #ffffff;
    transition: .3s ease;
}

.row1 .cn:hover{
    background-color: #3e3838;
}

.like{

  float: left;
  position: relative;
  bottom: 30px;
  margin-left: 200px;
}
.form{
    margin-top: 13px;
    margin-left: 125px;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
    left: 870px;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
}
.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #000000;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: #000000;
    font-family: Arial;
}
